/* .product-details-container{
    width: 18rem;
} */

.main-card {
    width: 28rem;
    opacity: 0.6;
    cursor: pointer;
    transition: all 500ms;
}

.main-card:hover {
    opacity: 1;
}

.main-card img {
    height: 15rem;
}

.card-title {
    text-transform: uppercase;
}